# Ignorar a pasta do ambiente virtual
venv/

# Arquivos compilados do Python
__pycache__/
*.py[cod]

# Logs e arquivos temporários
*.log
*.tmp
*.swp
*.swo

# Configurações de IDEs
.vscode/
.idea/
*.iml

# Dependências instaladas via pip
pip-log.txt
pip-selfcheck.json

# Arquivos de cache do Jupyter Notebook
.ipynb_checkpoints/